.calculator-container{
    width: 365px;
    background-color: #BABABA;
}

.bg-dark-gray{
    background-color: #616161;
}
.bg-btn-gray{
    background-color: #9E9E9E;
}
.bg-btn-yellow{
    background-color: #FFEB3B;
}
.display-text-color{
    color: #A8A8A8;
}
.btn-text-color{
    color: #626262;
}